body {
  background-color: #ADD8E6;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 10%;
}

h3 {
  color: #1E90FF;
}
h4 {
  color: #1E90FF;
}
